#corridor {
    z-index: 1;
/*    transform: translateX(100px);*/
}
.cell {
    width: 100px;
    height: 100px;
    transform: translateY(100px);
    transition: transform 0.2s ease-out;
}

.cell * {
    stroke-opacity: 1;
    fill-opacity: 1;
    transition: stroke-opacity 0.2s ease-out, fill-opacity 0.2s ease-out;
}

.wall {
    width: 100px;
    height: 100px;
    stroke-width: 1px;
    stroke-opacity: 1;
    stroke: black;
    fill: white;
    display: block;
}

.cell:nth-child(1) {
    transform: translateX(0);
}

.cell:nth-child(1) * {
    stroke-opacity: 0;
}

.cell:nth-child(2) {
    transform: translateX(100px);
}

.cell:nth-child(3) {
    transform: translateX(200px);
}

.cell:nth-child(4) {
    transform: translateX(300px);
}

.cell:nth-child(5) {
    transform: translateX(400px);
}

.cell:nth-child(6) {
    transform: translateX(500px);
}

.cell:nth-child(7) {
    transform: translateX(600px);
}

.cell:nth-child(8) {
    transform: translateX(700px);
}

.cell:nth-child(9) {
    transform: translateX(800px);
}

.cell:nth-child(10) {
    transform: translateX(900px);
}

.cell:nth-child(11) {
    transform: translateX(1000px);
}

.cell:nth-child(11) * {
    stroke-opacity: 0;
    fill-opacity: 0;
}

#beatindicator.beatoff {
    fill: red;
}
#beatindicator.beaton {
    fill: green;
}

#player {
    z-index: 2;
    transform: translate(240px, 50px);
    animation-duration: 0.2s;
}
#player .body {
    width: 30px;
    height: 50px;
    fill: slategrey;
}


@keyframes jump {
    from {
        transform: translate(240px, 50px);
    }
    50% {
        transform: translate(240px, 0px);
    }
    to {
        transform: translate(240px, 50px);
    }
}
#player.jumping {
    animation-name: jump;
    animation-timing-function: ease-in-out;
    transform: translate(240px, 0px);
}

.cell.stairsDown {
    fill: green;
}

.blueblob {
    fill: blue;
    z-index: 2;
}

.yellowblob {
    fill: yellow;
    z-index: 2;
}

.purpleblob {
    fill: purple;
    z-index: 2;
}

.mobsafe {
    stroke: transparent;
}

.mobunsafe {
    stroke: red;
}
